.square {
  width: 100px;
  height: 100px;
  background-color: blue;
  color: white;
  margin: 20px 10px 0px;
}

.container {
  float: left;
}

.container2 {
  float: left;
}

.container3 {
  float: left;
}
